<h2>Edit <%=@user.username%>'s account </h2>

<%= form_for(@user) do |f|%>
    <%= label(:user, :username,'Your user name here: ')%>
    <%= f.text_field(:username, placeholder:'enter name here') %>
    <br>
    <%= label(:user, :email, 'Email: ')%>
    <%= f.text_field(:email, placeholder:'example@example.com') %>
    <br>
    <%= label(:user, :password, 'Password: ' )%>
    <%= f.password_field(:password)%>
    <br>

    <%= f.submit %>
 <% end %>
